/*Q1*/

.logo {
    color:red;
}
/*Q2*/

nav a{
color: green;
}

/*Q3*/
nav a:visited{
    color: #444;
}
/*Q4*/
.card{
    color: white;
}
/*Q5*/
.card button{
    background-color: lightgreen;
    color: white;
}
/*Q6*/
article-p::first-letter{
    margin-left: 30px,
}

/*Q7*/

.blog{
 background-color: #666;
 color: #ccffff;
}


/*Q8*/

.gallery figure:hover{
    box-shadow: 5px 10px #444;
}
    

/*Q9*/
.gallery figcaption{
    padding: 8px;
}

/*Q10* done/

/*Q11*/

article{
   margin-top: 40px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
}
/*Q12*/
.article-title{
    text-align: center;
}

/*Q13*/

.section-header{
    text-transform:uppercase;
}

/*Q14*//*Q15*//*Q16*//*Q18*/

.form-input{
    -moz-user-focus: normal;
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-width: 4px;
    
}

/*Q17*/

footer{
    background:  rgb(68, 65, 65);
    color: #f05518;
}

/*Q18*/

.form-input:focus{
    border-width: 4px;
}
/*Q19*/
section h2::before{
    content: ">";
    margin-right: 4px;
}
/*Q20*/
input[type="radio"]{
    margin-left: 20px;
    margin-right: 5px;
}


